html,
body,
#page,
#page .container-fluid,
#page .container-fluid .row {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#background-underlay {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.entry-column {
    overflow: hidden;
}

.entry {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.icon-wrapper {
    /*display: inline-block;*/
    width: 30px;
    text-align: center;
    padding-right: 10px;
    float: left;
    flex-grow: 0;
    flex-shrink: 0;
}

.link-wrapper {
    /*display: inline-block;*/
    overflow-wrap: break-word;
}

#footer {
    position: fixed;
    background-color: transparent;
    padding: 3px;
    bottom: 0;
    right: 0;
    font-size: small;
    width: 100%;
    display: flex;
    justify-content: center;
}

.environment {
    margin: 0 20px;
}

.navigation-tooltips-container {
    position: absolute;
    top: 0;
    left: 0;
}

.navigation-tooltip {
    position: absolute;
    width: 100px;
    height: 20px;
}

.navigation-tooltip-environment {
    position: fixed;
}

.navigation-tooltip-inner {
    position: absolute;
    right: 0px;
    padding: 0 3px 0 3px;

    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 247, 133)), to(rgb(255, 197, 66)));
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 190, 35);

    color: black;
}

.navigation-tooltip-inner-opening {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(52, 254, 66)), to(rgb(41, 177, 49)));
    border-width: 1px;
    border-style: solid;
    border-color: rgb(35, 148, 37);
}

#syntax-error-alert {
    margin-top: 20px;
    display: none;
}

#controls {
    position: fixed;
    right: 2px;
    bottom: 2px;
}

#controls .control {
    cursor: pointer;
}

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    colr:000;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
