body {
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

h3 {
    margin-bottom: 20px;
}

.nav {
    margin-bottom: 20px;
}

#tab-environment-content .button-container,
#tab-environment-content .help-container {
    margin-bottom: 10px;
}

#tab-environment-content #help {
    font-size: small;
}

#tab-environment #environmentDetails {
    margin-top: 20px;
}
